@import url('https://fonts.cdnfonts.com/css/space-and-astronomy');

/* Position the About button at the top right of the viewport */
.about-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Style the link with white text and the Space and Astronomy font */
.about-button a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  font-family: 'Space and Astronomy', sans-serif;
  transition: color 0.3s;
}

/* Hover effect for the link */
.about-button a:hover {
  color: #ccc;
}
