.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Send background behind other elements */
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }